page-estate-menu {
    ion-card {
        padding: 16px;
        text-align: center;
    }
    ion-icon {
        padding: 10px;
        font-size:18px;	
        text-align: center;
        color: #587fff
    }

    ion-content {
        //background-color: #f3ecd4 !important;
        background-image: url("https://s3.amazonaws.com/fintech-tkg-sample/upload/sample.jpg");
    }
}
