<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank1
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)='heatmapTest()'>
            <ion-icon name="no-smoking"></ion-icon>
          </button>
      <button ion-button icon-only (click)='toggleSearch()'>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)='choosePosition()'>
        <ion-icon name="ios-locate-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<div class="switch">
  <button ion-button color="light" (click)="(switch = 'map'); resizeMap()" [class.active]="(switch == 'map')" icon-only><ion-icon name="map"></ion-icon></button>
  <button ion-button color="light" (click)="(switch = 'list'); " [class.active]="(switch == 'list')" icon-only><ion-icon name="list"></ion-icon></button>
</div>

<div class="currentitem" *ngIf="currentregional">
  <button ion-item no-lines (click)="viewPlace(currentregional.title)">
    <h2>{{ currentregional.title }}</h2>
    <ion-note item-right icon-only><ion-icon name="ios-arrow-forward"></ion-icon></ion-note>
  </button>
</div>

<ion-content>
  <div [hidden]="!(switch == 'list')">
    <ion-list>
      <ion-item>
        <h2>Test</h2>
      </ion-item>
      <ion-item>
        <h2>Test</h2>
      </ion-item>
      <ion-item>
        <h2>Test</h2>
      </ion-item>
    </ion-list>
  </div>

  <div class="map" [class.hidemap]="!((switch == 'map') || error)">
    <ion-searchbar #searchbar placeholder="Suchen" [hidden]="!search"></ion-searchbar>
    <div id="map" #map></div>
  </div>
</ion-content>
